<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NSA</title>
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css' integrity='sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA' crossorigin='anonymous'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js' integrity='sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp' crossorigin='anonymous'></script>
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nsa_app/css/style.css' %}">
</head>
<body>
    <div class="container" style='text-align: right; margin-top: 1em;'>
        <div class="col">
            <a href="/"><buttton type="btn" class="btn btn-warning sign_up">Login</button></a>
        </div>
    </div>
    <div class="container main_container">
        <div class="container">
            <div class="row">
                <div class="col title_container"style="text-align: center;">
                    <h2 class="page_title display-5">Welcome to No Strings Attached!</h2>
                    <img src="{% static 'nsa_app/images/logo.png' %}"class="img-fluid logo">
                    <br><br>
                    <p>Attend events, do activities, visit a locale, while meeting new faces.</p>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }} messages"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <form action="/register" method="POST" enctype="multipart/form-data">
                        {% csrf_token%}
                        <br>First Name:
                        <br><input type="text" name="first_name" class="signup_form">
                        <br>Last Name:
                        <input type="text" name="last_name" class="signup_form">
                        <br>Username:
                        <br><input type="text" name="signup_username" class="signup_form">
                        <br>Birthdate:
                        <br><input type="date" name="birthday" class="signup_form">
                </div>
                <div class="col-6">
                        <br>City:
                        <br>
                        <select name="city">
                            {% for city in cities %}
                            <option value="{{city.id}}">{{city.name}}</option>
                            {% endfor%}
                        </select>
                        <br>Email Address:
                        <br><input type="text" name="signup_email" class="signup_form">
                        <br>Password:
                        <br><input type="password" name="signup_password" class="signup_form">
                        <br>Confirm Password:
                        <br><input type="password" name="confirm_signup_password" class="signup_form">
                        <br><button type="submit" class="btn btn-success login_form">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>