<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Neuton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Secular+One" rel="stylesheet">
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css' integrity='sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA' crossorigin='anonymous'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js' integrity='sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp' crossorigin='anonymous'></script>
    <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'nsa_app/css/events_style.css' %}">
</head>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <h1 class="page_title">No Strings Attached</h1>
        <a href="/logout"><img src="{% static 'nsa_app/images/logo.png' %}" class="img-fluid logo"></a>
    </nav>
    <div class="container" style='text-align: right; margin-top: 1em;'>
        <div class="col">
        </div>
    </div>
    <div class="container main_container">
        <div class="">
            <div class="city_feed testimonial-group">
                <div class="row justify-content-center">
                    <h2 class="display-5 city_word">Users in your events</h2>
                </div>
                <hr>
                <div class=" city_icons">
                    {% for eachuser in allusers %}
                    {% if eachuser.id != user.id %}
                    <div class="city_card">
                        <a href="/filter_user/{{eachuser.id}}">
                            <img src="{{ eachuser.photo.url }}" alt="{{eachuser.first_name}}" class="city_icon">
                            <br>{{eachuser.first_name}}
                            </a>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </form>
            </div>
            <hr>
            <div class="row">
                <div class="col-3 card-body dashboard" style="text-align: center;">
                    <img src="{{ user.photo.url }}" alt="user_profile_pic" class="card-img-top profile_pic">
                        <h3 class="username">{{user.first_name}} {{user.last_name}}</h3>
                        <h2 style="display:inline-block;"><ion-icon name="image"></ion-icon></h2><a href="/events_feed/{{user.city.id}}"><button type="submit" class="btn btn-primary dash_button">Events Feed</button></a>
                        <h2 style="display:inline-block;"><ion-icon name="add-circle"></ion-icon></h2><a href="/post_an_event/{{user.city.id}}"><button type="submit" class="btn btn-primary dash_button">Post Event</button></a>
                        <br><h2 style="display:inline-block;"><ion-icon name="image"></ion-icon></h2><a href="/user_profile/{{user.id}}"><button type="submit" class="btn btn-primary dash_button">Profile</button></a>
                        <br><h2 style="display:inline-block;"><ion-icon name="calendar"></ion-icon></h2><a href="/edit_events"><button type="submit" class="btn btn-primary dash_button">Edit Events</button></a>
                        <br><h2 style="display:inline-block;"><ion-icon name="person"></ion-icon></h2><a href="/success"><button type="submit" class="btn btn-primary dash_button">Edit Profile</button></a>
                        <br><h2 style="display:inline-block;"><ion-icon name="exit"></ion-icon></h2><a href="/logout"><button class="btn btn-warning my-2 my-sm-0 dash_button" type="submit">Logout</button></a>
                </div>
                <div class="col-9">
                    <h1>Your Strings</h1>
                    <div class="bottom">
                        {% for eachuser in allusers %}
                        {% if eachuser.id != user.id %}
                        <form action="/send_message" method="POST">
                            {% csrf_token %}
                        <p>Your string with {{eachuser.first_name}} {{eachuser.last_name}}:</p>
                        <img src="{{user.photo.url}}" alt={{user.first_name}} class="img-fluid message_pic">
                        <img src="{{eachuser.photo.url}}" alt={{eachuser.first_name}} class="img-fluid message_pic">
                        <div class="container">
                            <input type="hidden" name="receiver" value={{eachuser.id}}>
                            <input type="text" name="sent">
                            <button type="submit" class="btn btn-success">Send Message</button>
                        </div>
                        </form>
                        <hr>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="https://unpkg.com/ionicons@4.4.4/dist/ionicons.js"></script>
</body>
</html>